h2 {
    text-align: center;
    margin: 0;
}

.container {
    height: 810px;
    width: 810px;
    position: absolute;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;

}

.flag {
    height: 400px;
    width: 400px;
    position: relative;
    border: 1px solid blueviolet;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.a {
    height: 120px;
    background-color: red;
}

.b {
    height: 120px;
    background-color: white;
}

.c {
    height: 120px;
    background-color: black;
}

.d {
    height: 120px;
    background-color: green;

}

.triangle {
    position: absolute;
    margin-top:80px;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 120px solid red
}

