.flag{
    height: 200px;
    width: 360px;
    border: 2px solid black;
    display: flex;

}
.blue{
    width: 120px;
    height: 200px;
    background-color: green;

}
.yellow{
    width: 120px;
    height: 200px;
    background-color: red;
}
.red{
    width: 120px;
    height: 200px;
    background-color: yellow;
}
.star{
    position: absolute;
    left: 160px;
    top: 95px;
}